*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.css-jzk4qw-MuiPaper-root-MuiAppBar-root,.css-ciy9n4-MuiPaper-root-MuiAppBar-root{
  z-index: 0;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{

  padding: 7.5px 14px;
}
